.layout{
  width: 375px;
  height: 696px;
}

.header-section{
display : flex-container;
width: 375px;
height: 75px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 375;
  
}

.logo {
  margin: 0;
  color: #6070FF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.menu-bar {
  width: 30px;
  height: 30px;
  background-image: url('Menu.png');
  background-size: cover;
  cursor: pointer;
}

